.language-buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  
    ion-button {
      width: 48%;
    }
  }
  
  .content {
    text-align: center;
    margin-top: 20px;
  }